<!--The content below is only a placeholder and can be replaced.-->

<body>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <label for='minimum'>Enter your minimum Number: </label>
    <input id='minimum' [(ngModel)]="myMinimum" placeholder="number">
    <label for='maximum'>Enter your maximum Number: </label>
    <input id='maximum' [(ngModel)]="myMaximum" placeholder="number">

  </div>
  <button (click)="onClickMe()">Generate Number Here</button>

  <h2>Minimumum:  {{ myMinimum }}</h2>
  <h2>Maximum: {{ myMaximum }}</h2>
  <h2>Here is your random number: {{ clickMessage }}</h2>

</div>
</body>



<router-outlet></router-outlet>
